    <body>
      {{> ourHistory}}
      {{> ourSponsors}}
    </body>

    <template id="heroSection">
      <div class="">
        <!--hero section content-->
        <p>Hero Img</p>
      </div>
    </template>

    <template id="startedSection">
      <div class="">
        <!--how it started section content-->
        <p>History</p>
      </div>
    </template>

    <template id="sponsorSection">
      <div class="">
        <!--sponsor section content-->
      </div>
    </template>

  {{!-- </body>
</html> --}}
