    <script src="../static/filmer.js" defer></script>

    <section class="filmer__hero">
      <div class="filmer__hero--title"></div>
      {{!-- <div class="filmer__filter">
        <div class="filmer__filter--btnwrapper">
          <div class="filmer__filter--btn available">Aktuellt</div>
          <div class="filmer__filter--btn upcoming">Kommande</div>
          <div class="filmer__filter--btn popular">Populära</div>
          <div class="filmer__filter--btn kids">Barn</div>
        </div>
        <input class="filmer__filter--sb" placeholder="Movie Searchbar" />
      </div> --}}
    </section>
    <main class="filmer__main">

    {{>movieCard}}

    </main>